<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="about-container">
        <h2>Welcome to the VisitCounter.</h2>
        <div class="bottom-buttons">
          <button class="home-btn" onclick="location.href='/count'">
            Visit Count
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
